@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Merriweather:wght@700&display=swap");
.App {
  font-family: "Aboreto", cursive;
  text-align: center;
  font-weight: bold;
}
body {
  background-color: #e3eb49;
}
input {
  height: 15vh;
  width: 80%;
}
